

@import '../../../../const/_const';
@import '../../../../mixin/_mixin';

/* start style for Footer*/
.footer {
  min-height: 500px;
  background-color: $bg-footer;
  max-width: 100%;
  border-top-left-radius: 50% 100px;
  border-top-right-radius:  50% 100px;
  box-sizing: border-box;
  @include xs{
    height: 750px;
  }
  @include  small{
    height: 650px;
  }
  @include medium{
    height: 600px;
  }
  @include large{
    height: 500px;
  }

  &__main{


    transform: translateY(250px);



  }

}

